# Hugo
# Generated public folder
/public/
# Generated resources folder
/resources/

# Python
# Virtual environment
/.venv/
/venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
$py.class
